

.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    text-align: center;
    
}
.box h2 {
    color:black;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type = "text"],.box input[type = 'password']{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    
    transition: 0.25s;
}
.box label{
    color: black ;
    text-transform: uppercase;
    font-weight: 250;
}
.box input[type = "text"]:focus,.box input[type = 'password']:focus{    
    border-color: #1264a3;   
}

.box button{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid  #1264a3;
    padding: 14px 40px;    
    outline: none;
    color: black;    
    transition: 0.25s;
    cursor: pointer;
}
.box button:hover{
    background: #1264a3;
}
